# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# App-generated
config.py
*.db
*.log
pdfs/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
